.treatments {
  padding-bottom: 4rem;

  &_section {
    width: 90%;
    margin: 0 auto;
  }

  &_list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 0;
  }

  &_treatmentItem {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(34, 34, 34, 0.2);
    padding: 0.75rem;

    &_header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:hover {
        cursor: pointer;
      }

      &_name {
        font-weight: normal;
      }
    }

    &_description {
      font-size: 1.125rem;
    }

    &_footer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &_details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        width: 100%;
        margin: 1.5rem 0;
        font-size: 1.125rem;

        & > li {
          letter-spacing: 0.02em;
        }
      }
    }
  }
}
