:root {
  font-family: 'Poppins', 'Arial', sans-serif;
  --litepicker-container-months-color-bg: rgba(35, 35, 35, 0.9);
  --litepicker-month-header-color: white;
  --litepicker-button-prev-month-color: white;
  --litepicker-button-next-month-color: white;
  --litepicker-button-prev-month-color-hover: rgb(168, 168, 168);
  --litepicker-button-next-month-color-hover: rgb(168, 168, 168);
  --litepicker-month-weekday-color: white;
  --litepicker-month-week-number-color: white;
  --litepicker-day-color: white;
  --litepicker-day-color-hover: rgb(168, 168, 168);
  --litepicker-is-in-range-color: rgba(101, 136, 10, 0.25);
  --litepicker-is-start-color-bg: rgba(101, 136, 10, 0.75);
  --litepicker-is-end-color-bg: rgba(101, 136, 10, 0.75);
  --litepicker-button-reset-color: white;
  --litepicker-button-reset-color-hover: rgb(168, 168, 168);
}
