.add-to-cart-btn {
  color: white;
  letter-spacing: 0.05em;
  text-align: center;
  background-color: rgb(101, 136, 10);
  border-width: 0;
  border-radius: 6px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 0.5rem 0.75rem;

  &:hover {
    background-color: rgba(101, 136, 10, 0.9);
    cursor: pointer;
  }
}