$background-color-gradient: to bottom, rgba(45, 45, 45, 0.6),
  rgba(45, 45, 45, 0.8);
$text-color: white;
$letter-spacing: 0.02em;

.cart {
  &_section {
    background-image: linear-gradient($background-color-gradient),
      image-set(url('../../../../assets/photos/hero-image.jpg'));
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding-top: 10%;
    color: $text-color;

    & > h2 {
      font-size: 1.8rem;
      font-weight: 400;
      letter-spacing: 0.09em;
      text-transform: uppercase;
      text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
      margin-top: 2rem;
      text-align: center;
    }
  }

  &_stay {
    width: 90%;
    margin: 1rem auto;
  }

  &_list {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 0 auto;

    &_item {
      &_container {
        border-top: 1px solid white;
        margin: 0 auto;
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:last-of-type {
          border-bottom: 1px solid white;
        }

        &_details {
          display: grid;
          width: 100%;
          grid-template-columns: 4fr 2fr 2fr;
          margin: 0 auto;

          & > div {
            font-size: 1.125rem;
            letter-spacing: $letter-spacing;
            align-self: center;
            padding: 0.75rem;
          }
        }
      }
    }
  }

  &_total {
    width: 90%;
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 0.02em;
    padding: 1.5rem;
    margin: 0 auto;
    text-align: right;
  }
}

#cart-placeholder {
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 1rem auto;
  display: none;

  &.visible {
    display: block;
  }
}

strong {
  font-size: 1.25rem;
  font-weight: normal;
  letter-spacing: $letter-spacing;
}

.placeholder {
  text-align: center;
  font-size: 1.5rem;
  border-bottom: 1px solid white;
  padding: 0;
  margin: 0;
}

#dates {
  font-size: 1.2rem;
  letter-spacing: 0.05em;
  text-shadow: 2px 2px 4px black;

  & > span {
    border: 1px solid white;
    background-color: rgba(219, 219, 219, 0.08);
    border-radius: 4px;
    padding: 0.3rem;
    box-shadow: 2px 2px 8px black;
  }
}

.list-checker {
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
}
